[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "unsloth"
dynamic = ["version"]
description = "2-5X faster LLM finetuning"
readme = "README.md"
requires-python = ">=3.9"
license = {file = "LICENSE"}
keywords = ["ai", "llm",]
authors = [
    {email = "info@unsloth.ai"},
    {name = "Unsloth AI team"},
]
maintainers = [
    {name = "Daniel Han", email = "danielhanchen@gmail.com"},
    {name = "Michael Han", email = "info@unsloth.ai"},
]
classifiers = [
    "Programming Language :: Python",
]
dependencies = [
    "unsloth_zoo>=2024.12.3",
    "torch>=2.4.0",
    "xformers>=0.0.27.post2",
    "bitsandbytes",
    "triton>=3.0.0",
    "packaging",
    "tyro",
    "transformers>=4.46.1,<=4.46.3",
    "datasets>=2.16.0",
    "sentencepiece>=0.2.0",
    "tqdm",
    "psutil",
    "wheel>=0.42.0",
    "numpy",
    "accelerate>=0.34.1",
    "trl>=0.7.9,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3",
    "peft>=0.7.1,!=0.11.0",
    "protobuf<4.0.0",
    "huggingface_hub",
    "hf_transfer",
]

[tool.setuptools.dynamic]
version = {attr = "unsloth.models._utils.__version__"}

[tool.setuptools]
include-package-data = false

[tool.setuptools.packages.find]
exclude = ["images*"]

[project.optional-dependencies]
huggingface = [
    "unsloth_zoo>=2024.12.3",
    "packaging",
    "tyro",
    "transformers>=4.46.1,<=4.46.3",
    "datasets>=2.16.0",
    "sentencepiece>=0.2.0",
    "tqdm",
    "psutil",
    "wheel>=0.42.0",
    "numpy",
    "accelerate>=0.34.1",
    "trl>=0.7.9,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3",
    "peft>=0.7.1,!=0.11.0",
    "protobuf<4.0.0",
    "huggingface_hub",
    "hf_transfer",
]
cu118only = [
    "xformers==0.0.22.post7",
]
cu121only = [
    "xformers==0.0.22.post7",
]
cu118onlytorch211 = [
    "xformers==0.0.23",
]
cu121onlytorch211 = [
    "xformers==0.0.23",
]
cu118onlytorch212 = [
    "xformers==0.0.23.post1",
]
cu121onlytorch212 = [
    "xformers==0.0.23.post1",
]
cu118onlytorch220 = [
    "xformers==0.0.24",
]
cu121onlytorch220 = [
    "xformers==0.0.24",
]
cu118onlytorch230 = [
    "xformers==0.0.27",
]
cu121onlytorch230 = [
    "xformers==0.0.27",
]
cu118onlytorch240 = [
    "xformers==0.0.27.post2",
]
cu121onlytorch240 = [
    "xformers==0.0.27.post2",
]
cu121onlytorch250 = [
    "xformers==0.0.28.post2",
]
cu124onlytorch250 = [
    "xformers==0.0.28.post2",
]
cu118 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118only]",
]
cu121 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121only]",
]
cu118-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch211]",
]
cu121-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch211]",
]
cu118-torch212 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch212]",
]
cu121-torch212 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch212]",
]
cu118-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch220]",
]
cu121-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch220]",
]
cu118-torch230 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch230]",
]
cu121-torch230 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch230]",
]
cu118-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch240]",
]
cu121-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch240]",
]
cu121-torch250 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch250]",
]
cu124-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu124onlytorch240]",
]
cu124-torch250 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu124onlytorch250]",
]
kaggle = [
    "unsloth[huggingface]",
]
kaggle-new = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
]
conda = [
    "unsloth[huggingface]",
]
colab-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch211]",
]
colab-ampere-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch211]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
colab-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch220]",
]
colab-ampere-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch220]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
colab-new = [
    "unsloth_zoo>=2024.11.8",
    "packaging",
    "tyro",
    "transformers>=4.46.1,<=4.46.3",
    "datasets>=2.16.0",
    "sentencepiece>=0.2.0",
    "tqdm",
    "psutil",
    "wheel>=0.42.0",
    "numpy",
    "protobuf<4.0.0",
    "huggingface_hub",
    "hf_transfer",
    "bitsandbytes>=0.43.3",
]
colab-no-deps = [
    "accelerate>=0.34.1",
    "trl>=0.7.9,!=0.9.0,!=0.9.1,!=0.9.2,!=0.9.3",
    "peft>=0.7.1",
    "xformers<0.0.27",
    "bitsandbytes>=0.43.3",
    "protobuf<4.0.0",
]
colab = [
    "unsloth[cu121]",
]
colab-ampere = [
    "unsloth[colab-ampere-torch220]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu118-ampere = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118only]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121only]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu118-ampere-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch211]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere-torch211 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch211]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu118-ampere-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch220]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere-torch220 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch220]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu118-ampere-torch230 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch230]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere-torch230 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch230]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu118-ampere-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu118onlytorch240]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch240]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu121-ampere-torch250 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu121onlytorch250]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu124-ampere-torch240 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu124onlytorch240]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]
cu124-ampere-torch250 = [
    "unsloth[huggingface]",
    "bitsandbytes>=0.43.3",
    "unsloth[cu124onlytorch250]",
    "packaging",
    "ninja",
    "flash-attn>=2.6.3",
]

[project.urls]
homepage = "http://www.unsloth.ai"
documentation = "https://github.com/unslothai/unsloth"
repository = "https://github.com/unslothai/unsloth"
